
:root {
  --color-fondo: #FFFFFF;
  --color-primario: #722F37;
  --color-acento: #D4AF37;
  --color-texto: #2C2C2C;
  --color-suave: #F9F9F9;
}

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box; /*meto el padding dentro del 100%*/
   
}
/*contenido del titulo principal*/
.texto{
    color: #FFFFFF; /*cambio el color de la letra a blanco*/
    font-weight: 50px; /*cambio el grosor de la letra*/
}

main {
    margin: 0 5%;
    padding-top: 20px;
}

.bodega {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bodega img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.bodega h3{
    text-align: center;
    background-color: var(--color-suave);
    border-radius: 0.5rem;
    padding: 15px;
    text-align: center;
    transition: 0.3s;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    gap: 5px;
    position: relative;
}

.proxima{
    text-align: center;
    font-size: 25px; 
    align-self: center; /*posiciono mi strong al centro de mi grilla*/
}
 
.imagen-contenedor {
    height: 70vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.imagen-contenedor img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

#carrusel {
    width: 100%;
}

.imagen-baja {
    transform: translateY(60px);  /* Baja la imagen 20px */
}