:root{/*galeria de colores*/
--color-fondo: #FFFFFF; /* Blanco: Fondo total */
  --color-primario: #722F37; /* Vino: Botones y Menus */
  --color-acento: #D4AF37; /* Oro: Detalles y Hover */
  --color-texto: #2C2C2C; /* Carbon: Titulos y Cuerpo */
  --color-suave: #F9F9F9; /* Gris humo: Para tarjetas de producto*/
}
.fondo{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/bodega/fondo-bodega.avif);
    height: 400px; /*establezco un alto de 400px*/
    background-repeat: no-repeat; /*quito la repeticion de la imagen que cubre todo el elemento*/
    background-position: center; /*posiciono la imagen al centro*/
    background-size: cover; /*hace que la imagen cubra totalmente el elemento*/
    display:flex;
}
body{
    font-family: roboto, Arial, Helvetica, sans-serif;
    margin: 0; /*borro el margen predetermiando del body de 8px*/
    color: var(--color-texto);
    background-color: var(--color-fondo);
}
nav{
    background-color: var(--color-primario);/*cambio color de fondo*/
    padding: 1rem 5%;
    display: flex; /*activo la*/
    align-items: center;/*centra verticalmente todos los elementos del contenedor*/
    justify-content: space-between; /*hago que el primer elemento se posicione en la izquierda y el ultimo elemento a la derecha*/
    color: #FFFFFF; /*cambio el color de la letra a blanco*/
    position: fixed; /*hago que el menu baje con el scroll*/
    width: 100%; /*hago que mi barra de nevegacion ocupe el 100% del ancho de mi pantalla*/
    top:0;
    left:0;
    z-index: 2;
    box-sizing: border-box; /*meto el padding dentro del 100%*/
}
.enlaces{
    list-style: none;
    display: flex; /*activo la*/
    gap:20px;
    margin: 0;
    padding: 0;
}

.enlaces li a{
    text-align: left; /*ubica los textos a la izquierda*/
    text-decoration: none; /*quito el subrayado de los links*/
    color: #FFFFFF; /*cambio el color de la letra a blanco*/
    margin-left: 20px; /*agrego espacio del lado izquierdo*/
    font-weight: 500; /*cambio el grosor de la letra*/

}
.texto{
    color: #FFFFFF; /*cambio el color de la letra a blanco*/
    font-size: 40px; /*cambio el tamaño de letra*/
    font-weight: bold; /*cambio el grosor de la letra*/
    margin:0;
}
main{
    display: grid; /*posisiono los elementos dentro de una grilla*/
    grid-template-columns: 1fr 1fr;
    padding: 5%;
    gap: 20px;
    

}
.seccion1{
    grid-column: span 2;
    margin-top: 0;
    
}
.bodega1{
   
}
.titulo1{
    text-align: center;
}
.bodega2{
  
}
.titulo2{
     text-align: center;
}
.bodega3{
 
}
.titulo3{
     text-align: center;
}
footer{
    background-color: var(--color-texto);
    color: #FFFFFF;
    text-align: center;
    padding: 2rem; 
    

}    