:root {
  --color-fondo: #FFFFFF; /* Blanco: Fondo total */
  --color-primario: #722F37; /* Vino: Botones y Menus */
  --color-acento: #D4AF37; /* Oro: Detalles y Hover */
  --color-texto: #2C2C2C; /* Carbon: Titulos y Cuerpo */
  --color-suave: #F9F9F9; /* Gris humo: Para tarjetas de producto */
}

body {
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  color: var(--color-texto);
  background-color: var(--color-fondo);
}

/* Navbar */
nav {  background-color: var(--color-primario);
  color: white;
  padding: 1rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}

/*Imagen y titulo de categoria*/
.hero {
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/vinos/portada\ categoria.png') center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.contenedor {
  display: grid;
  grid-template-areas:
    "header header"
    "menu contenido"
    "footer footer";
  grid-template-columns: 200px 1fr;
  gap: 3px;
  padding: 5px;
}

/* Menu categoria */
.contenedor div.menu {
  grid-area: menu;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}

/*Contenido*/
.contenedor div.contenido {
  grid-area: contenido;
}

 /*Elementos y area tarjetas*/
 .contenedor div.productos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
 }
.contenedor div.tarjeta {
  background-color: var(--color-suave);
  flex: 1 1 calc(33% - 40px);
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  transition: 0.3s;
}

/*footer*/
footer {
  grid-area: footer;
  background-color: var(--color-texto);
  color: var(--color-suave);
  text-align: center;
  padding: 2rem;
  margin-top: 50px;
}
