
body {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    color: #2C2C2C;
    background-color: #FFFFFF;
}

summary::-webkit-details-marker {
    display: none;
}
summary {
    list-style: none;
}
