body {
  background-color: #f1efd8;
  font-family: Arial, sans-serif;
  margin: auto;
  padding: 10;
}

#navbar {
  color: white;
  padding: 10px;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

nav {
  background-color: #90043a;
  color: white;
  padding: 10px;
  width: 100%;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
